body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

.blocklist {
    width: 100%;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

input {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}
